[build]
builder = "nixpacks"

[build.env]
NIXPACKS_NODE_VERSION = "22.12.0"

[deploy]
startCommand = "npm run start"
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3
